<div class="row justify-content-md-center">
  <div class="col-lg-8 g-0">
    <div>
      <mat-toolbar>
        <h1>Plant</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" title="back to list" routerLink="/entities/plants">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button *ngIf="item" mat-icon-button class="btn" title="Pick produce from this plant"
                [routerLink]="['/entities/producepickevents/new',{plant:item.id}]">
          <mat-icon>add_task</mat-icon>
        </button>
        <button mat-icon-button class="btn btn-primary" title="save" (click)="save()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="row">
      <div *ngIf="item" class="col-lg-8">
        <div class="pm-detail-form-container">
          <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput disabled [(ngModel)]="item.id">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Plant species</mat-label>
            <mat-select [(ngModel)]="item.species" [compareWith]="compareById" required>
              <mat-option *ngFor="let species of allPlantSpecies" [value]="species">{{species.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="pm-formfield-inline-row">
            <mat-form-field appearance="fill" *ngIf="item.currentLocation">
              <mat-label>Plant location</mat-label>
              <input matInput disabled [value]="item.currentLocation?.name">
            </mat-form-field>

            <button class="action" mat-stroked-button (click)="startNewRelocationEvent()">relocate</button>
          </div>
          <mat-card *ngIf="newRelocationEvent">
            <mat-card-subtitle>Location for plant</mat-card-subtitle>
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="relocationEventDatepicker" [(ngModel)]="newRelocationEvent.date" required>
              <mat-datepicker-toggle matSuffix [for]="relocationEventDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #relocationEventDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <mat-select [(ngModel)]="newRelocationEvent.locationId" required>
                <mat-option *ngFor="let location of allPlantLocations" [value]="location.id">{{location.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button (click)="saveRelocationEvent()">Save</button>
          </mat-card>

          <div class="pm-formfield-inline-row">
            <div class="mat-form-field">
              <span>Total produce: count={{getTotalProduceCount()}} - weight={{getTotalProduceWeight()}}</span>
            </div>

            <button class="action" mat-stroked-button (click)="startNewProducePickEvent()">add produce</button>
          </div>
          <mat-card *ngIf="newProducePickEvent">
            <mat-card-subtitle>Produce for plant</mat-card-subtitle>
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="relocationEventDatepicker" [(ngModel)]="newProducePickEvent.date" required>
              <mat-datepicker-toggle matSuffix [for]="relocationEventDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #relocationEventDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput [(ngModel)]="newProducePickEvent.description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Count</mat-label>
              <input matInput [(ngModel)]="newProducePickEvent.count">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Weight (kg)</mat-label>
              <input matInput [(ngModel)]="newProducePickEvent.weight">
            </mat-form-field>
            <button mat-button (click)="saveProducePickEvent()">Save</button>
          </mat-card>
        </div>

        <div>
          <mat-checkbox [(ngModel)]="hasBuyEvent" (change)="onBuyChangeEvent($event)">Purchased</mat-checkbox>
          <div *ngIf="item.buyEvent" class="pm-form-inline">
            <mat-form-field appearance="fill">
              <mat-label>Buy date</mat-label>
              <input matInput [matDatepicker]="buyDateDatepicker" [(ngModel)]="item.buyEvent.date" required>
              <mat-datepicker-toggle matSuffix [for]="buyDateDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #buyDateDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Store</mat-label>
              <input matInput [(ngModel)]="item.buyEvent.store">
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input matInput type="number" [(ngModel)]="item.buyEvent.price" placeholder="0">
              <span matPrefix>€&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="hasSeedStartEvent" (change)="onSeedStartChangeEvent($event)">Started from seed</mat-checkbox>
          <div *ngIf="item.seedStartEvent" class="pm-form-inline">
            <mat-form-field appearance="fill">
              <mat-label>Startdate</mat-label>
              <input matInput [matDatepicker]="buyDateDatepicker" [(ngModel)]="item.seedStartEvent.date" required>
              <mat-datepicker-toggle matSuffix [for]="buyDateDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #buyDateDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Seed package</mat-label>
              <mat-select [(ngModel)]="item.seedStartEvent.seedPackageId"
                          (selectionChange)="onSeedPackageChangeEvent($event)" required>
                <mat-option *ngFor="let seedPackage of allSeedPackages" [value]="seedPackage.id">{{seedPackage.plantSpecies.id}}
                  - {{seedPackage.plantSpecies.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput [(ngModel)]="item.seedStartEvent.description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="hasPlantDiedEvent" (change)="onPlantDiedChangeEvent($event)">Died</mat-checkbox>
          <div *ngIf="item.diedEvent" class="pm-form-inline">
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Died on date</mat-label>
                <input matInput [matDatepicker]="buyDateDatepicker" [(ngModel)]="item.diedEvent.date" required>
                <mat-datepicker-toggle matSuffix [for]="buyDateDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #buyDateDatepicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="item.diedEvent.description"></textarea>
              </mat-form-field>
            </div>
            <div>
              <app-imageview *ngIf="!isCreate" [imageId]="item.diedEvent.imageId" (imageUploadEvent)="bindImageIdToPlantDiedEvent($event)"></app-imageview>
            </div>
          </div>
        </div>

      </div>
      <div class="sidebar col-lg-4">
        <mat-list class="pm-history">
          <div mat-subheader>History</div>
          <mat-list-item *ngFor="let event of getEventHistory()">
            <div mat-line *ngIf="event.typeName == 'BuyEvent'">Bought at {{$any(event).store}}</div>
            <div mat-line *ngIf="event.typeName == 'SeedStartEvent'">Started from seed</div>
            <div mat-line *ngIf="event.typeName == 'RelocationEvent'">Moved to {{getLocationName($any(event).locationId)}}</div>
            <div mat-line *ngIf="event.typeName == 'PlantDiedEvent'">Died</div>
            <div mat-line *ngIf="event.typeName == 'ProducePickEvent'">Picked some produce</div>
            <div mat-line>{{event.date | date}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
