<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <div class="row">
      <mat-toolbar class="col-12">
        <h1>Location</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" routerLink="/entities/plantlocations"><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button class="btn btn-primary" (click)="save(true)"><mat-icon>save</mat-icon></button>
      </mat-toolbar>
    </div>

    <div *ngIf="item" class="pm-detail-form-container row">
      <div class="col-lg-8 g-0">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
          <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
          <ngx-mat-color-picker #picker></ngx-mat-color-picker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="item.description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-4 g-0">
        <app-imageview *ngIf="!isCreate" [imageId]="item.imageId" [altText]="'Location'" (imageUploadEvent)="bindImageId($event)"></app-imageview>
      </div>
    </div>
  </div>
</div>
