<mat-card>
  <mat-toolbar>
    <span>Seedpackages</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/entities/seedpackages/new">
      <mat-icon>post_add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-list>
    <mat-list-item *ngFor="let item of items" routerLink="/entities/seedpackages/{{item.id}}" class="link">
      <mat-icon mat-list-icon>article</mat-icon>
      <div mat-line>{{item.description}}</div>
      <div mat-line> {{item.plantSpecies.name}} <mat-progress-bar mode="determinate" value="{{item.percentFull}}"></mat-progress-bar></div>
    </mat-list-item>
  </mat-list>
</mat-card>
