<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <div class="row">
      <mat-toolbar class="col-12">
        <h1>Produce</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" routerLink="/entities/producepickevents">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class="btn btn-primary" (click)="save()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div *ngIf="item" class="pm-detail-form-container row">
      <div class="col-lg-8 g-0">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Plant</mat-label>
          <mat-select [(ngModel)]="item.plantId" required>
            <mat-option *ngFor="let plant of allPlants" [value]="plant.id">{{getPlantName(plant)}}
              <span *ngIf="!plant.relocationEvents.length">Location not set</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pick date</mat-label>
          <input matInput [matDatepicker]="pickDateDatepicker" [(ngModel)]="item.date" required>
          <mat-datepicker-toggle matSuffix [for]="pickDateDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #pickDateDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="item.description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Count</mat-label>
          <input matInput [(ngModel)]="item.count">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Weight (kg)</mat-label>
          <input matInput [(ngModel)]="item.weight">
        </mat-form-field>
      </div>
      <div class="col-lg-4 g-0">
        <app-imageview *ngIf="!isCreate" [imageId]="item.imageId" [altText]="'Produce'" (imageUploadEvent)="bindImageId($event)"></app-imageview>
      </div>
    </div>
  </div>
</div>
