<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <div class="row">
      <mat-toolbar class="col-12">
        <h1>Plant specy</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" routerLink="/entities/plantspecies">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class="btn btn-primary" (click)="save(true)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div *ngIf="item" class="pm-detail-form-container row">
      <div class="col-lg-8 g-0">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Parent</mat-label>
          <mat-select [(ngModel)]="item.parentId">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let parent of all" [value]="parent.id">{{parent.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="!item.parentId">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="item.type" [compareWith]="compareById">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let type of allTypes" [value]="type">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Maximum height</mat-label>
          <input matInput [(ngModel)]="item.maximumHeight" min="0">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sungrade</mat-label>
          <input matInput [(ngModel)]="item.sungrade" min="0" max="10">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="item.description"></textarea>
        </mat-form-field>


        <mat-toolbar class="col-12">
          <h2>Grow periods</h2>
          <span class="toolbar-spacer"></span>
          <button *ngIf="selectedGrowPeriod" mat-icon-button (click)="editGrowPeriod()" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="selectedGrowPeriod" mat-icon-button (click)="deleteGrowPeriod()" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button class="btn btn-primary" (click)="startNewGrowPeriod()">
            <mat-icon>post_add</mat-icon>
          </button>
        </mat-toolbar>
        <mat-card *ngIf="newGrowPeriod">
          <mat-card-subtitle *ngIf="newGrowPeriod.id">Edit growperiod</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!newGrowPeriod.id">New growperiod</mat-card-subtitle>
          <mat-form-field appearance="fill">
            <mat-label>Phase</mat-label>
            <mat-select [(ngModel)]="newGrowPeriod.phase" required>
              <mat-option *ngFor="let phase of growPhases" [value]="phase" >{{phase}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-subtitle>Start</mat-card-subtitle>
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Week</mat-label>
                <mat-select [(ngModel)]="newGrowPeriod.start.week">
                  <mat-option [value]="0">First week</mat-option>
                  <mat-option [value]="1">Second week</mat-option>
                  <mat-option [value]="2">Third week</mat-option>
                  <mat-option [value]="3">Fourth week</mat-option>
                </mat-select>
              </mat-form-field>
                </div>
                <div class="col-6">
              <mat-form-field appearance="fill">
                <mat-label>Month</mat-label>
                <mat-select [(ngModel)]="newGrowPeriod.start.month">
                  <mat-option *ngFor="let month of months; let i = index" [value]="i">{{month}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-card-subtitle>End</mat-card-subtitle>
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Week</mat-label>
                  <mat-select [(ngModel)]="newGrowPeriod.end.week">
                    <mat-option [value]="0">First week</mat-option>
                    <mat-option [value]="1">Second week</mat-option>
                    <mat-option [value]="2">Third week</mat-option>
                    <mat-option [value]="3">Fourth week</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>Month</mat-label>
                  <mat-select [(ngModel)]="newGrowPeriod.end.month">
                    <mat-option *ngFor="let month of months; let i = index" [value]="i">{{month}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newGrowPeriod.description"></textarea>
          </mat-form-field>
          <button mat-button (click)="saveGrowPeriod()">Save</button>
        </mat-card>
        <table class="pm-growperiods-table" *ngIf="item.growPeriods && item.growPeriods.length > 0">
          <thead role="rowgroup">
          <tr class="pm-growperiods-row pm-growperiods-header-row">
            <th class="pm-growperiods-header-cell">Month</th>
            <ng-container *ngFor="let wk of item.growPeriods[0].calendarRow; let i = index">
              <th class="pm-growperiods-header-cell" *ngIf="(i + 4) % 4 == 0" colspan="4">{{months[i / 4]}}</th>
            </ng-container>
          </tr>
          <tr  class="pm-growperiods-row pm-growperiods-header-row">
            <th class="pm-growperiods-header-cell"> Phase</th>
            <th class="pm-growperiods-header-cell"  *ngFor="let wk of item.growPeriods[0].calendarRow; let i = index">{{i % 4 + 1}}</th>
          </tr>
          </thead>
          <tbody role="rowgroup">
            <tr *ngFor="let row of item.growPeriods; let i = index" class="pm-growperiods-row pm-phase-{{row.phase}}" (click)="setSelectedGrowPeriod(row)" [ngClass]="{'pm-selected': selectedGrowPeriod == row}">
              <th class="pm-growperiods-header-cell">{{row.phase}}</th>
              <td class="pm-growperiods-cell" *ngFor="let wk of row.calendarRow" [ngClass]="{'pm-filled': wk}">
                <ng-container *ngIf="wk">X</ng-container>
                <ng-container *ngIf="!wk">&nbsp;</ng-container>
              </td>
              <tr>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-lg-4 g-0">
        <app-imageview *ngIf="!isCreate" [imageId]="item.imageId" [altText]="'Species'" (imageUploadEvent)="bindImageId($event)"></app-imageview>
      </div>
    </div>
  </div>
</div>
