<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box-row">
      <mat-toolbar>
        <h1>Plant specy</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" routerLink="/entities/plantspecies"><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button class="btn btn-primary" (click)="save()"><mat-icon>save</mat-icon></button>
      </mat-toolbar>

      <div *ngIf="item" class="pm-detail-form-container">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="item.type">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let type of allTypes" [value]="type">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="item.description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Parent</mat-label>
          <mat-select [(ngModel)]="item.parentId">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let parent of all" [value]="parent.id">{{parent.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <img *ngIf="item.image" [src]="getImageSrc(item.image)" alt="species picture"/>

        <span *ngIf="!isCreate">
          <mat-label class="btn btn-default">
            <input type="file" (change)="selectFile('image', $event)">
          </mat-label>

          <button mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload('image')">
            <mat-icon>file_upload</mat-icon><span>upload</span>
          </button>
        </span>

      </div>
    </div>
  </div>
</div>
