<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box-row">
      <mat-toolbar>
        <h1>Plant specy type</h1>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button class="btn" routerLink="/entities/plantspeciestypes"><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button class="btn btn-primary" (click)="save()"><mat-icon>save</mat-icon></button>
      </mat-toolbar>

      <div *ngIf="item" class="pm-detail-form-container">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name">
        </mat-form-field>

      </div>
    </div>
  </div>
</div>
