<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box-row">
      <h1>Plant specy type</h1>
      <a routerLink="/entities/plantspeciestypes">To list</a>
      <div *ngIf="item" class="pm-detail-form-container">
        <mat-form-field appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput disabled [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name">
        </mat-form-field>

        <button mat-button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
