/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//@import 'assets/grid';

.pm-background {
}

table {
  width: 100%;
}

.pm-detail-form-container {
  mat-form-field {
    margin-right: 5px;
    display: block;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.link {
  cursor: pointer;
}
