/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//@import 'assets/grid';

.pm-background {
}

table {
  width: 100%;
}

.pm-detail-form-container {
  mat-form-field {
    margin-right: 5px;
    display: block;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.link {
  cursor: pointer;
}
.pm-form-inline .mat-form-field {
  margin-left: 8px;
  :first-child {
    margin-left: 0;
  }
}
.pm-formfield-inline-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  .mat-form-field {
    flex-grow: 400;
    margin-left: 8px;

  }
  .action {
    flex-shrink: 4;
    max-height: 52px;
  }
  :first-child {
    margin-left: 0;
  }
}
.pm-history {
  .mat-list-item {
    border-left: 1px solid black;
    :before {
      content: '';
      position: absolute;
      left: -10px;
      width: 20px;
      height: 20px;
      right: -2px;
      background-color: white;
      border: 4px solid #FF9F55;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
